@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@100;300;400;500;700&display=swap');

*{
    margin: 0px;
    font-family: 'Sarabun', sans-serif;
}

.swal2-container {
    z-index: 10000; 
}
.slide-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.slide {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
}
