@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@100;300;400;500;700&display=swap');

* {
    margin: 0px;
    font-family: 'Sarabun', sans-serif;
}

.swal2-container {
    z-index: 10000;
}

.slide-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.slide {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.85em;
        /* หรือค่าที่ต้องการ */
    }

    h2 {
        font-size: 1.35em;
        /* หรือค่าที่ต้องการ */
    }

    h3 {
        font-size: 1.10em;
        /* หรือค่าที่ต้องการ */
    }

    h4,
    p,
    span {
        font-size: 0.85em;
        /* หรือค่าที่ต้องการ */
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.6em;
        /* หรือค่าที่ต้องการ */
    }

    h2 {
        font-size: 1.2em;
        /* หรือค่าที่ต้องการ */
    }

    h3 {
        font-size: 0.95em;
        /* หรือค่าที่ต้องการ */
    }

    h4,
    p,
    span {
        font-size: 0.75em;
        /* หรือค่าที่ต้องการ */
    }
}

.sigCanvas {
    width: 100%;
    border: 1px solid black;
    margin-top: 5px;
}

.sigImage {
    display: block;
    max-width: 50%;
    max-height: 50px;
    margin: 0 auto;
    border: 1px solid black;
    padding: 2rem;
}