@page "/test"
@inject ProductService ps

<h3>Test</h3>

<p>@ps.ProductList.Count()</p>

@code {
    protected override void OnInitialized()
    {
        ps.ProductList.Add(new Product
        {
            Id = ps.ProductList.Max(x => x.Id) + 1,
            Name = "ProductTest",
            Price = 55.55,
            Amount = 5
        });
    }
}
